h1 {
  text-align: center;
  color: black;
}
footer {
  position: absolute;
  bottom: 0%;
  background-color: pink;
  width: 100%;
  height: 40px;
  text-align: center;
}
li {
  margin-top: 10px;
  font-size: 15px;
}
footer {padding-top: 10px;}
span {color: red;}